/* TextMessage.css */
.text-message-container {
  display: flex;
  gap: 0.25rem;
}

.avatar-container {
  display: flex;
  width: 1.25rem;
  align-items: flex-end;
}

.avatar {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
}

.message-column {
  display: flex;
  min-width: 10%;
  max-width: 80%;
  flex-direction: column;
  gap: 0.5rem;
}

.message-row {
  width: fit-content;
  font-size: 0.875rem;
  white-space: pre-line;
  word-break: break-word;
  padding: 0.9375rem 0.625rem;
}

.timestamp {
  font-size: 0.625rem;
  font-style: italic;
  color: gray;
}

/* Border styles */
.rounded-20 {
  border-radius: 1.25rem;
}

.rounded-start {
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  border-bottom-left-radius: 0.3125rem;
}

.rounded-end {
  border-top-left-radius: 0.3125rem;
  border-bottom-right-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.rounded-message {
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}
